body {
    background-color:#0a192f;
    padding-bottom: 30px;
}

header {
    width: 100%;
}

ul {
    text-align: right;
}

header {
  width: 100%;
  position: sticky;
}

a:hover {
    background-color: rgba(100, 255, 218, 0.15);
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.nav-item {
    display: inline-block;
    margin: 10px;
    padding: 2.5px;
    position: relative;
    right: 30px;
}

.nav-item a:link {
    letter-spacing: 2px;
    font-family: 'Smooch Sans', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #64ffda;
    border-radius: 5px;
    font-weight: bold;
    transition-delay: 1s;
}

.nav-item #Resume {
    letter-spacing: 2px;
    font-family: 'Smooch Sans', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #64ffda; 
    padding: 6px 10px;
    border: 1.5px #64ffda solid;
    border-radius: 5px;
    font-weight: bold;
    transition-delay: 1s;
}

.nav-item a:visited {
    letter-spacing: 2px;
    font-family: 'Smooch Sans', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #64ffda;
    font-weight: bold;
    transition-delay: 1s;
}

.intro {
    margin: 5% 5%;
}

.intro p {
    letter-spacing: 2px;
    font-family: 'Smooch Sans', Calibri, 'Trebuchet MS', sans-serif;
    color: #8892b0;
    font-weight: bold;
} 

.intro h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.intro a:link {
    position: relative;
    top: 40px;
    letter-spacing: 2px;
    font-family: 'Smooch Sans', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #64ffda;
    padding: 15px;
    font-weight: bold;
    border: 2px #64ffda solid;
    border-radius: 5px;
}

.intro a:visited {
    position: relative;
    top: 40px;
    letter-spacing: 2px;
    font-family: 'Smooch Sans', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #64ffda;
    padding: 15px;
    border: 2px #64ffda solid;
    border-radius: 5px;
}

#firstline {
    color: #64ffda
}

#name{
    color: #ccd6f6;
    font-size: 50px;
    margin-top: 25px;
}

#following{
    position: relative;
    bottom: 20px;
    color: #8892b0;
}

#detail {
    width: 80%;
    position: relative;
    bottom: 20px;    
}

#About {
    position: relative;
    top: 270px;
    margin: 2.5% 5%;
    font-family: 'Smooch Sans', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
}

#About h2 {
    color: #e6f1ff;    
}

#About p {
    color: #8892b0;
    width: 70%;
    font-weight: 800;
}

#About img {
    text-align: right;
    width: 25%;
    height: auto;
    position: absolute;
    left: 75%;
    top: 50px;
}
